<div class="mt-3 container col-md-10 d-flex justify-content-center">
    <div class="col-md-12">
        <div class="card user-card-full">
            <div class="row m-l-0 m-r-0">
                <div class="col-sm-12">
                    <div class="card-block">
                        <h4 class="p-b-5 b-b-default f-w-600">Registered Successfully!</h4>
                        <div class="row">
                            <div class="col-sm-8">
                                <p class="f-w-600">Hostel Name</p>
                                <h6 class="text-muted f-w-400">{{acc.hostel.hostelName}}</h6>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-2">
                                <p class="f-w-600">Quota</p>
                                <h6 class="text-muted f-w-400">{{acc.quota}}</h6>
                            </div>
                            <div class="col-sm-2">
                                <p class="f-w-600">Job Type</p>
                                <h6 class="text-muted f-w-400">{{acc.jobType}}</h6>
                            </div>
                            <div class="col-sm-2">
                                <p class="f-w-600">User</p>
                                <h6 class="text-muted f-w-400">{{acc.user.userId}}</h6>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>