<div class="py-3" *ngFor="let ngo of ngoList">
    <div class="container">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">{{ngo.ngoName}}</h4>
                <p class="card-text">{{ngo.ngoDescription}}</p>
            </div>
        </div>
    </div>
</div>
<div *ngIf="ngoList.length==0" class="justify-content-center conatainer col-md-6 mx-auto mt-5">
    <h2 class="text-danger mx-auto">Sorry No NGO are Available at this moment!!</h2>
</div>
<!-- <div class="py-3">
    <div class="container">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">NGO name</h4>
                <p class="card-text">NGO description</p>
                <a class="btn btn-primary" [routerLink]="['/step/trainingngolist']" (click)="'Training NGO'">Apply
                    now</a>
            </div>
        </div>
    </div>
</div> -->